.app-sidenav-container {
    display: flex;
    position: fixed;    // makes the element always fixed w.r.t the viewport 
                        // so remains where it is even when scrolled

    width: 100%;        // width & height relative to its container, which
    min-width: 100%;    // in this case is the body
    height: 100%;       // this element would fill up the page only if its container
    min-height: 100%;   // i.e body fills the page. So we set its margin:0 in styles.scss
}

.app-sidenav {
    width: 240px;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
}